RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule .* https://mystique-art.de/$1 [R=301,L]

# DISABLE CACHING
<IfModule mod_expires.c>
	ExpiresActive Off
</IfModule>
<IfModule mod_headers.c>
	Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
	Header set Pragma "no-cache"
	Header set Expires "Mon, 1 Jan 1970 00:00:00 GMT"
</IfModule>
