.Logo {
	position: relative;
	margin-top: 50px;
	margin-bottom: -50px;
}

.Logo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.Logo-subtitle {
	position: absolute;
	width: 100%;
	bottom: 25px;
	left: 0px;
	padding-left: 150px;
	text-align: center;
}
