body {
  margin: 0;
  padding: 0;
  background-color: rgb(60, 60, 60);
  color: #ddd;
  padding-bottom: 32px;
  min-width: 300px;
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
}

.bg-dark {
  background-color: rgb(60, 60, 60) !important;
}

a.anchor {
  height: 0px;
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}
